In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(r"test.db")

In [3]:
c = conn.cursor()
CREATE TABLE stuff (
 ids integer,
 name text,
 city text
);

SyntaxError: invalid syntax (<ipython-input-3-fa2124d6610a>, line 1)

In [41]:
INSERT INTO 'stuff' ('ids', 'name', 'city') VALUES
    (904834,  'jim' ,  'London'),
    (904835,  'jim' ,  'London'),
    (90145,   'Fred',  'Paris'),
    (90133,   'Fred',  'Paris'),
    (90132,   'Fred',  'Paris');

In [42]:
df.head()

,surname,firstname,othername,gender,initial,dob_day,dob_month,dob_year,facility_code,date_of_birth
dummy_id,,,,,,,,,,
LID000000000,MODUPI,SYLVESTER,NaN,M,S,13.0,7.0,2008.0,81R005,2008-07-13
LID000000001,SHEIK,SHAMIRA,NaN,F,S,15.0,4.0,2010.0,81K018,2010-04-15
LID000000002,TATISI,IRENE,NaN,F,I,17.0,7.0,1952.0,81K018,1952-07-17
LID000000003,AUGUS,SIMONE,NaN,F,S,3.0,11.0,1981.0,83D015,1981-11-03
LID000000004,SPRINGBOK,PIET,NaN,M,P,14.0,11.0,1968.0,85U005,1968-11-14

In [44]:
#blocking
indexer = rl.BlockIndex(on='surname' and 'facility_code' and 'date_of_birth')
pairs = indexer.index(df)

TypeError: dropna() got an unexpected keyword argument 'axis'

In [ ]:
#Doing comparision. creating the similarity weights
compare_cl = rl.Compare(pairs, df)
compare_cl.string('surname', 'surname', method='jarowinkler', threshold=0.85, name='surname')
compare_cl.string('firstname', 'firstname', method='jarowinkler', threshold=0.85, name='firstname')
compare_cl.exact('gender', 'gender', name='gender')
compare_cl.exact('initial', 'initial', name='initial')
compare_cl.exact('dob_day', 'dob_day', name='dob_day')
compare_cl.exact('dob_month', 'dob_month', name='dob_month')
compare_cl.exact('dob_year', 'dob_year', name='dob_year')
compare_cl.exact('facility_code', 'facility_code', name='facility_code');
print('It took', ((time.time()-start_comparision)/60)/60, 'hours. to complete comparision')

In [ ]:
features.head(10)

In [ ]:
features.describe()

In [ ]:
# Sum the comparison results.
features.sum(axis=1).value_counts().sort_index(ascending=False)

In [ ]:
matches = features[features.sum(axis=1) > 6]

In [ ]:
print(len(matches))

In [ ]:
matches.head(10)